.hommie {
  background: linear-gradient(-45deg, #ffb7fd, #c187ff, #84b5ff, #c0f7ff);
  background-size: 400% 400%;
  -webkit-animation: gradient 15s ease infinite;
  animation: gradient 15s ease infinite;
}

@-webkit-keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.nombreGiss {
  animation-duration: 3s;
  animation-name: slidein;
}

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}

.imgPerfil {
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  width: -webkit-fill-available;
}

.imgPerfilCel {
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  height: -webkit-fill-available;
}

.wrapper {
  font-family: sans-serif;
  width: 80%;
  margin: 0 auto;
  position: relative;
}
.imgHome {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: 0.5s ease;
}
.content {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-transform: uppercase;
  font-size: 40px;
  color: rgb(0, 8, 150);
  white-space: nowrap;
  overflow: hidden;
}
.contentCel {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-transform: uppercase;
  color: rgb(0, 8, 150);
  overflow: hidden;
}
.content a {
  font-size: 15px;
  display: block;
  color: rgb(255, 255, 255);
  background-color: #9575cd;
  text-align: center;
  padding: 4px;
  cursor: pointer;
}
.overlay {
  opacity: 0;
}
.wrapper:hover img {
  opacity: 0.3;
}
.wrapper:hover .overlay {
  opacity: 1;
}

@font-face {
  font-family: "romantic";
  src: url("../images/Romantic\ Knight.otf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "star";
  src: url("../images/Starborn.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "milky";
  src: url("../images/Milky\ Honey.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "happy";
  src: url("../images/KGHAPPY.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

