.nav-link:hover {
    color: #a78bfa !important; 
}

.active-link {
    font-weight: bold; /* Indica la página activa */
    color: #333 !important; /* Mantiene el color principal para la activa */
}

.dropdown-toggle::after {
    /* Mantiene la flecha del dropdown */
}

.dropdown-menu {
    border: 1px solid #e0e0e0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.dropdown-item:hover {
    background-color: #f5f5f5;
    color: #a78bfa;
}